{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * HOMM Form plugin for Craft CMS 5.x
 *
 * HOMMForm settings.twig
 *
 * @author    Domenik Hofer
 * @copyright Copyright (c) 2019 HOMM interactive
 * @link      https://github.com/HOMMinteractive
 * @package   HOMMForm
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("homm\\hommform\\assetbundles\\hommformcp\\HOMMFormCPAsset") %}

{# The title of this CP section #}
{% set title = "Form requests"|t('hommform') %}

{% set forms = craft.hommform.forms %}
{% set formId = craft.app.request.getParam('formId') %}

{% if not formId and forms|length %}
    {% redirect cpUrl('hommform', { formId: forms[0] }) 302 %}
{% endif %}


{# Content that should appear in the page header #}
{% block actionButton  %}
    <input class="text search hommform_search" placeholder="{{ 'Search'|t('hommform') }}">

    <div class="buttons">
        <a href="{{ cpUrl('hommform/export', { formId }) }}" class="btn">{{ 'Export...'|t('hommform') }}</a>
        &nbsp;
        <form action="{{ cpUrl('hommform/delete') }}" method="post" onsubmit="return confirm('{{ 'Do you really want to delete this form and all its data?\\nThis action cannot be undone.'|t('hommform') }}');">
            {{ csrfInput() }}
            {{ redirectInput('hommform') }}

            <input type="hidden" name="form" value="{{ formId }}">
            <button class="btn submit">{{ 'Delete'|t('hommform') }}</button>
        </form>
    </div>
{% endblock %}

{% set sidebar %}
    <nav class="hommform_nav">
        <ul>
            {% for fId in forms %}
                <li>
                    <a href="{{ cpUrl('hommform', { formId: fId }) }}" class="{{ formId == fId ? 'sel' }}">
                        <span class="label">{{ fId }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endset %}

{# The content of the CP Section #}
{% set content %}
    {% if formId %}
        {% set entries = craft.hommform.entries(formId) %}

        <div class="hommform__table">
            <table class="data">
                <thead>
                    <tr>
                        {% for item in entries[:1]|first %}
                            <th>{{ item }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for row in entries[1:]|reverse %}
                        <tr>
                            {% for item in row %}
                                <td>
                                    {% if item.folder is defined and item.name is defined %}
                                        <a href="{{ cpUrl('hommform/download/' ~ item.folder ~ '/' ~ item.name) }}" target="_blank" title="{{ item.name }}" class="table-item">{{ item.name }}</a>
                                    {% elseif item is array %}
                                        {% for value in item|map(v => v is array ? v : [v]) %}
                                            {{ value|join(', ') }}<br>
                                        {% endfor %}
                                    {% elseif 'http://' in item or 'https://' in item %}
                                        <a href="{{ item }}" target="_blank" title="{{ item }}" class="table-item">{{ item }}</a>
                                    {% elseif item|first == '@' %}
                                        <a href="{{ alias(item) }}" target="_blank" title="{{ alias(item) }}" class="table-item">{{ alias(item) }}</a>
                                    {% else %}
                                        <span title="{{ item }}" class="table-item">{{ item }}</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="hommform__total">
            <strong>{{ 'Total: {count} entries'|t('hommform', { count: entries[1:]|length }) }}</strong>
        </div>
    {% else %}
        <p>{{ 'No entries available.'|t('hommform') }}</p>
    {% endif %}
{% endset %}
